body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.banner {
    width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.caixinha {
    /* position: relative; */
    display: inline-block;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
    box-shadow: 5px 5px 5px black;
}

.banner p {
    font-size: 1rem;
} 

.banner-footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0,0,0,1));
    font-size: 1.8rem;
}

.banner-footer a {
    width: 70px;
    position: relative;
    bottom: 15px;
}

#nota > p {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
}

.info {
    padding: 15px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape h4 {
    position: relative;
    top: 10px;
}

.rodape p {
    font-size: 1rem;
}