body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}

.banner {
    display: block;
    position: relative;
    height: 65%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.caixinha {
    display: inline-block;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
    box-shadow: 5px 5px 5px black;
}

.banner p {
    font-size: .8rem;
} 

.wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.caixa-info {
    padding: 15px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 15px;
    opacity: 0;
    transition: opacity .3s linear;
}

.mostra{
    opacity: 1;
    pointer-events: none;
}

.caixa-info h4 {
    margin-bottom: 0;
    color: red;
    font-size: 1rem;
}

.pais-classificacao {
    display: flex;
    justify-content: space-between;
}

.banner-footer {
    /* position: absolute; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 1.8rem;
    bottom: 0;
}

.banner-footer a {
    width: 70px;
}

#nota > p {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}

.titulo {
    font-size: 1.1rem;
    font-weight: bold;
}

.sinopse {
    margin-top: 15px;
    font-size: 1rem;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape h4 {
    position: relative;
    top: 10px;
}